src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<db:config name="PostgresConnection_Configuration" doc:name="Database Config" doc:id="9f8c42b7-5a6f-468c-93ac-a1d049e768e7" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/postgres" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<flow name="GetVideogameByID" doc:id="e25b9f43-0153-42f7-9d36-6488db7b22c1" >
		<http:listener doc:name="Listener" doc:id="af20861e-6c5d-43f3-9815-200dc8c74e5e" config-ref="HttpGenericListener" path="/videogames/{id}" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[output application/json
---

payload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<db:query-single doc:name="Query single" doc:id="cb96ce87-4a92-43d8-95f0-4ced42bc481a" config-ref="PostgresConnection_Configuration">
			<db:sql ><![CDATA[SELECT * FROM public.videogames WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/json
---
{
	'id': attributes.uriParams.id
}]]]></db:input-parameters>
		</db:query-single>
	</flow>
	<flow name="CreateVideogame" doc:id="b2908262-5f8b-4b41-8bad-0a86bebadc14">
		<http:listener doc:name="Listener" doc:id="aabacfb3-4357-4038-a53d-3fc87a698d9a" config-ref="HttpGenericListener" path="/videogames" allowedMethods="POST" >
			<http:error-response statusCode="#[payload.status]" >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="3f97b2b2-1780-4e23-a12e-d14d5b6500ce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	quantity: payload.quantity,
	price: payload.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Videogame Validation" doc:id="be5703ef-a58e-4db7-a972-c50bd5521ead" name="VideogameValidation" />
		<db:insert doc:name="Create videogame" doc:id="1642686f-c41f-4216-8205-6b07d818e13d" config-ref="PostgresConnection_Configuration" autoGenerateKeys="true" autoGeneratedKeysColumnNames="#[['id']]">
			<db:sql><![CDATA[INSERT INTO public.videogames ("name", "quantity", "price")
VALUES(:name, :quantity, :price)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	"name": payload.name,
	"quantity": payload.quantity,
	"price": payload.price
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Create Response" doc:id="b52f26d5-19b4-4f05-a99a-750847a655af">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.generatedKeys.id,
	name: vars.videogame.name,
	quantity: vars.videogame.quantity,
	price: vars.videogame.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="435f7523-d299-40e7-800e-57cb0e9c6643" >
				<ee:transform doc:name="Create Error Response" doc:id="587a8266-ef87-4db8-9fbb-a1602b322a35">
					<ee:message>
						<ee:set-payload><![CDATA[output application/json
---
{
	"message": error.description,
	"status": 500
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="UpdateVideogame" doc:id="cd582443-c408-45c4-bd34-9b96a5f3de54" >
		<http:listener doc:name="Listener" doc:id="44935bce-41a7-49a8-84c7-ceaa5634490a" config-ref="HttpGenericListener" path="/videogames/{id}" allowedMethods="PUT" >
			<http:error-response statusCode="#[payload.status]" >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="1fdbcd51-feb9-4689-b745-4f195391a63f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	name: payload.name,
	quantity: payload.quantity,
	price: payload.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Videogame Validation" doc:id="818191fb-1a71-45b0-8fd2-56bfd6a5cd6b" name="VideogameValidation" />
		<db:update doc:name="Update" doc:id="35180128-983b-417d-a77e-9de7c4a1ee1e" config-ref="PostgresConnection_Configuration">
			<db:sql ><![CDATA[UPDATE public.videogames SET name = :name, quantity = :quantity, price = :price WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	name: payload.name,
	quantity: payload.quantity,
	price: payload.price
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Create Response" doc:id="2856e980-b0a6-4b09-8df9-51ffe47f88a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: vars.videogame.id,
	name: vars.videogame.name,
	quantity: vars.videogame.quantity,
	price: vars.videogame.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="00d84597-1263-42d2-a1ab-25725ac0f2b7" >
				<ee:transform doc:name="Create Error Response" doc:id="574f174b-2b72-45ab-b415-d5d481bd8442" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/json
---
{
	"message": error.description,
	"status": 500
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="DeleteVideogame" doc:id="6f2062bd-5060-4fc5-a175-7ef1ef349a0f" >
		<http:listener doc:name="Listener" doc:id="74e90d64-f335-40a0-8be8-2c69f080492f" config-ref="HttpGenericListener" path="/videogames/{id}" allowedMethods="DELETE"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="af39bc62-e7fa-47b1-af32-6673157de5f2" variableName="videogameID"/>
		<db:delete doc:name="Delete" doc:id="9544dd06-cd02-4f91-ab00-ccc06014a120" config-ref="PostgresConnection_Configuration">
			<db:sql ><![CDATA[DELETE FROM public.videogames WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/json
---
{
	id: vars.videogameID as Number
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="924b309d-9dc8-42c1-ac66-95d9469627b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": ("Videogame " ++ vars.videogameID as String ++ " rimosso con successo"),
	"status": 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="VideogameValidation" doc:id="e06806e0-48b4-4cee-91a0-0a64902a6c61" >
		<validation:is-not-null doc:name="Name Not Null" doc:id="3f70155f-398b-4494-92de-e541a01b8578" value="#[payload.name]" message="Il campo 'name' non può essere nullo" />
		<validation:is-not-null doc:name="Quantity Not Null" doc:id="7a770485-d476-4156-9c8e-fd2c07a909b8" value="#[payload.quantity]" message="Il campo 'quantity' non può essere nullo" />
		<validation:is-not-null doc:name="Price Not Null" doc:id="979bcdd4-fe22-44ef-83de-33e35e8a0bbf" value="#[payload.price]" message="Il campo 'price' non può essere nullo"/>
		<validation:is-true doc:name="Price &gt; 0" doc:id="2145cf34-e22f-4461-a63e-92d10dd25e17" expression="#[payload.price &gt; 0]" message="Il campo 'price' deve essere maggiore di 0" />
		<set-variable value="#[payload]" doc:name="Save Original Body" doc:id="753a96e2-41ac-437b-992e-c4ddf088bead" variableName="videogame" />
	</sub-flow>
</mule>
