src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
	<flow name="HelloWorld_SimpleListener" doc:id="1ed36320-d2f7-4ba7-9f68-3d359b7c3f25" >
		<http:listener doc:name="Listener" doc:id="cf9b73fb-3fdc-4e9b-b29b-35334fdb4316" config-ref="HttpGenericListener" path="/helloworld/print"/>
		<ee:transform doc:name="Transform Message" doc:id="97273fa9-b22d-462f-9304-0fb62d139a55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": payload.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2709628f-53f6-43e4-b264-3a75ea244343" message="#['Messaggio Ricevuto: ' ++ payload.message]"/>
		<ee:transform doc:name="Transform Message" doc:id="61482cbf-a157-4cff-8bf3-3ed11d1c82e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.message,
	status: 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
